conky.config = {
--==============================================================================
--                     VMware Hands On Labs
-- Date    : 08/08/2019
-- Author  : BurkeAzbill
-- Version : v0.1
-- License : MIT
-- Updated for HOL Ubuntu main console 19-February 2024 Bill Call
--==============================================================================

	background = true,
	update_interval = 5,
	alignment = 'bottom_left',
	border_inner_margin = 0,
	border_outer_margin = 0,

	border_width = 0,
	draw_shades = false,
	draw_outline = false,
	draw_borders = false,
	draw_graph_borders = false,

	double_buffer = true,
	no_buffers = true,
	text_buffer_size = 2048,
	gap_x = 200,
	gap_y = 100,
	minimum_width = 350, minimum_height = 200,
	maximum_width = 400,
	out_to_console = false,

	own_window = true,
	own_window_type = 'desktop',
	own_window_transparent = true,
	own_window_argb_visual = true,
	own_window_argb_value = 0,
	own_window_hints = 'undecorated,sticky,skip_taskbar,skip_pager,below',

	override_utf8_locale = true,
	use_xft = true,

-- Defining colors
	default_color = 'FFFFFF',
-- White
	color0 = 'FFFFFF',
-- Shades of Gray
	color1 = 'DDDDDD',
-- Blue
	color2 = '19B0FF',
-- Aqua
	color3 = '42f2f5',
-- Orange
	color4 = 'f78a31',
-- Purple
	color5 = 'b664f4',
-- Mustard
	color6 = 'D1B204',

-- Header with base system info
};
conky.text = [[
# labstartup sets the labname DO NOT CHANGE THIS LINE
${font weight:bold}${color0}${alignc}HOL-\#\#\#\#
#${font weight:bold}${color0}${alignc}HOL-\#\#\#\#
# a separation line
# ${font size=10,weight:bold}${color1}${hr 2}
${font size=10,weight:bold}${color2}Host ${alignr}${font weight:bold}Main Console
${font size=10,weight:bold}${color2}User ${alignr}${font weight:bold}${uid_name 1000}
# The following line uses Ubuntu syntax to get the ip address for interface named eth0
# Update as needed for your OS and/or interface name
${font size=12,weight:bold}${color1}IP Address ${alignr}${font weight:bold}${addr ens33}
# Update the following line to curl your own corporate IP Address lookup or comment out/delete to disable
# ${font size=12,weight:bold}${color4}Corporate IP: ${alignr}${font weight:normal}${exec curl myip.oc.vmware.com}
# Comment out/delete the following line to disable
# ${font size=12,weight:bold}${color6}Public IP: ${alignr}${font weight:normal}${exec dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'"' '{ print $2}'}
# Showing disk partitions: root
#${font size=12,weight:bold}${color5}Free / : ${font weight:normal}${fs_free /}${alignr}${font weight:bold}Used: ${font weight:normal}${fs_used /}
# If more than 90% of disk used, change numbers and bar to RED color:
# ${font size=12,weight:bold}${color5}Storage: ${if_match $fs_used_perc>90}${color red}${endif}${font weight:normal}${fs_used /}/${fs_size /} ${fs_bar 10}
# Memory Utilization:
# ${font size=12,weight:bold}${color5}${if_match $memperc>90}${color red}${endif}Memory: ${font weight:normal}$mem/$memmax ${membar 10}
# If the status.txt file in the current user home directoy contains ANYTHING other
# than "Ready" <- Case sensitive, the text and file modified date will be RED
# If the status.txt file ONLY has a single line with the word: Ready
# then the text and modified file date will be GREEN 
${font weight:bold}${color red}Lab Status ${alignr}${font weight:bold}${exec cat /hol/startup_status.txt}
]];



